<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
  		<key>codigo</key>
  		<string>1</string>
  		<key>codigoSite</key>
  		<string>1</string>
  		<key>nome</key>
  		<string>Academia de ginástica</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>2</string>
  		<key>codigoSite</key>
  		<string>2</string>
  		<key>nome</key>
  		<string>Acampamento, Camping</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>3</string>
  		<key>codigoSite</key>
  		<string>3</string>
  		<key>nome</key>
  		<string>Aeroporto, Aeródromo, Pista de pouso</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>4</string>
  		<key>codigoSite</key>
  		<string>4</string>
  		<key>nome</key>
  		<string>Água potável, Bica, Fonte</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>5</string>
  		<key>codigoSite</key>
  		<string>131</string>
  		<key>nome</key>
  		<string>Apoio em rodovias (socorro mecânico)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>6</string>
  		<key>codigoSite</key>
  		<string>7</string>
  		<key>nome</key>
  		<string>Área de mergulho</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>7</string>
  		<key>codigoSite</key>
  		<string>8</string>
  		<key>nome</key>
  		<string>Área de natação natural e pública (exceto clube)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>8</string>
  		<key>codigoSite</key>
  		<string>9</string>
  		<key>nome</key>
  		<string>Área de perigo</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>9</string>
  		<key>codigoSite</key>
  		<string>10</string>
  		<key>nome</key>
  		<string>Área de pesca, Pesque pague, Rio</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>10</string>
  		<key>codigoSite</key>
  		<string>11</string>
  		<key>nome</key>
  		<string>Área de piquenique</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>11</string>
  		<key>codigoSite</key>
  		<string>12</string>
  		<key>nome</key>
  		<string>Área militar, Forte, Quartel</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>12</string>
  		<key>codigoSite</key>
  		<string>14</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Amarelo)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>13</string>
  		<key>codigoSite</key>
  		<string>15</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Azul)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>14</string>
  		<key>codigoSite</key>
  		<string>16</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Branco)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>15</string>
  		<key>codigoSite</key>
  		<string>17</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Laranja)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>16</string>
  		<key>codigoSite</key>
  		<string>18</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Preto)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>17</string>
  		<key>codigoSite</key>
  		<string>19</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Verde)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>18</string>
  		<key>codigoSite</key>
  		<string>20</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Verde,Vermelho)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>19</string>
  		<key>codigoSite</key>
  		<string>21</string>
  		<key>nome</key>
  		<string>Assistente de navegação (Vermelho)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>20</string>
  		<key>codigoSite</key>
  		<string>22</string>
  		<key>nome</key>
  		<string>Assistente de navegação Desligado (Branco)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>21</string>
  		<key>codigoSite</key>
  		<string>23</string>
  		<key>nome</key>
  		<string>Assistente de navegação desligado (Preto)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>22</string>
  		<key>codigoSite</key>
  		<string>95</string>
  		<key>nome</key>
  		<string>Atração turística, Mirante, Vista</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>23</string>
  		<key>codigoSite</key>
  		<string>24</string>
  		<key>nome</key>
  		<string>Balança para pesagem de caminhões</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>24</string>
  		<key>codigoSite</key>
  		<string>100</string>
  		<key>nome</key>
  		<string>Balsa, Ferry boat</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>25</string>
  		<key>codigoSite</key>
  		<string>25</string>
  		<key>nome</key>
  		<string>Banco, Caixa automático, Banco Postal, Lotérica</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>26</string>
  		<key>codigoSite</key>
  		<string>26</string>
  		<key>nome</key>
  		<string>Banheiro em rodovia</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>27</string>
  		<key>codigoSite</key>
  		<string>5</string>
  		<key>nome</key>
  		<string>Banheiro público</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>28</string>
  		<key>codigoSite</key>
  		<string>27</string>
  		<key>nome</key>
  		<string>Bar, Boate, Adega, etc</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>29</string>
  		<key>codigoSite</key>
  		<string>29</string>
  		<key>nome</key>
  		<string>Biblioteca</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>30</string>
  		<key>codigoSite</key>
  		<string>30</string>
  		<key>nome</key>
  		<string>Bóia branca</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>31</string>
  		<key>codigoSite</key>
  		<string>31</string>
  		<key>nome</key>
  		<string>Boliche</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>32</string>
  		<key>codigoSite</key>
  		<string>32</string>
  		<key>nome</key>
  		<string>Bombeiros</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>33</string>
  		<key>codigoSite</key>
  		<string>33</string>
  		<key>nome</key>
  		<string>Buzina de nevoeiro</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>34</string>
  		<key>codigoSite</key>
  		<string>34</string>
  		<key>nome</key>
  		<string>Cachoeira</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>35</string>
  		<key>codigoSite</key>
  		<string>35</string>
  		<key>nome</key>
  		<string>Cadeia de montanhas, Região geográfica, etc.</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>36</string>
  		<key>codigoSite</key>
  		<string>36</string>
  		<key>nome</key>
  		<string>Campo de golfe</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>37</string>
  		<key>codigoSite</key>
  		<string>37</string>
  		<key>nome</key>
  		<string>Campo de petróleo</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>38</string>
  		<key>codigoSite</key>
  		<string>38</string>
  		<key>nome</key>
  		<string>Capital ou Distrito Federal</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>39</string>
  		<key>codigoSite</key>
  		<string>39</string>
  		<key>nome</key>
  		<string>Cemitério, Velório e Funerárias</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>40</string>
  		<key>codigoSite</key>
  		<string>40</string>
  		<key>nome</key>
  		<string>Centro de convenções</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>41</string>
  		<key>codigoSite</key>
  		<string>128</string>
  		<key>nome</key>
  		<string>Centros comunitários</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>42</string>
  		<key>codigoSite</key>
  		<string>41</string>
  		<key>nome</key>
  		<string>Cidade com até 25 mil habitantes</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>43</string>
  		<key>codigoSite</key>
  		<string>44</string>
  		<key>nome</key>
  		<string>Cidade com mais de 100 mil habitantes</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>44</string>
  		<key>codigoSite</key>
  		<string>42</string>
  		<key>nome</key>
  		<string>Cidade entre 25 e 100 mil habitantes</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>45</string>
  		<key>codigoSite</key>
  		<string>43</string>
  		<key>nome</key>
  		<string>Cidade histórica ou fantasma</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>46</string>
  		<key>codigoSite</key>
  		<string>45</string>
  		<key>nome</key>
  		<string>Cinema</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>47</string>
  		<key>codigoSite</key>
  		<string>46</string>
  		<key>nome</key>
  		<string>Clube; Hípica; Associações Esportivas Privadas</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>48</string>
  		<key>codigoSite</key>
  		<string>137</string>
  		<key>nome</key>
  		<string>Comentários do Desenvolvedor (não aparecerão no mapa compilado)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>49</string>
  		<key>codigoSite</key>
  		<string>47</string>
  		<key>nome</key>
  		<string>Correios</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>50</string>
  		<key>codigoSite</key>
  		<string>48</string>
  		<key>nome</key>
  		<string>Cruzamento, Desvio, Rotatória</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>51</string>
  		<key>codigoSite</key>
  		<string>129</string>
  		<key>nome</key>
  		<string>Distrito, Vila, Povoado, Bairro, etc</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>52</string>
  		<key>codigoSite</key>
  		<string>51</string>
  		<key>nome</key>
  		<string>Escola, Universidade, etc.</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>53</string>
  		<key>codigoSite</key>
  		<string>52</string>
  		<key>nome</key>
  		<string>Esqui ou Esportes aquáticos</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>54</string>
  		<key>codigoSite</key>
  		<string>53</string>
  		<key>nome</key>
  		<string>Estação de rádio ou TV</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>55</string>
  		<key>codigoSite</key>
  		<string>54</string>
  		<key>nome</key>
  		<string>Estacionamento</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>56</string>
  		<key>codigoSite</key>
  		<string>55</string>
  		<key>nome</key>
  		<string>Estádio, Campo, Arena, Hipódromo; Complexo esportivo</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>57</string>
  		<key>codigoSite</key>
  		<string>56</string>
  		<key>nome</key>
  		<string>Extremo de trilha</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>58</string>
  		<key>codigoSite</key>
  		<string>57</string>
  		<key>nome</key>
  		<string>Farmácia, Drogaria</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>59</string>
  		<key>codigoSite</key>
  		<string>58</string>
  		<key>nome</key>
  		<string>Floresta</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>60</string>
  		<key>codigoSite</key>
  		<string>59</string>
  		<key>nome</key>
  		<string>Heliponto</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>61</string>
  		<key>codigoSite</key>
  		<string>60</string>
  		<key>nome</key>
  		<string>Hospital, Pronto-Socorro, Posto Médico, Salva-Vida</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>62</string>
  		<key>codigoSite</key>
  		<string>61</string>
  		<key>nome</key>
  		<string>Hotel, Pousada, Albergue, Motel</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>63</string>
  		<key>codigoSite</key>
  		<string>62</string>
  		<key>nome</key>
  		<string>Igreja, Templo</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>64</string>
  		<key>codigoSite</key>
  		<string>130</string>
  		<key>nome</key>
  		<string>Ilha</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>65</string>
  		<key>codigoSite</key>
  		<string>64</string>
  		<key>nome</key>
  		<string>Informações em rodovias</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>66</string>
  		<key>codigoSite</key>
  		<string>63</string>
  		<key>nome</key>
  		<string>Informações turísticas</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>67</string>
  		<key>codigoSite</key>
  		<string>134</string>
  		<key>nome</key>
  		<string>Lagoa</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>68</string>
  		<key>codigoSite</key>
  		<string>65</string>
  		<key>nome</key>
  		<string>Lanchonete</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>69</string>
  		<key>codigoSite</key>
  		<string>66</string>
  		<key>nome</key>
  		<string>Lava rápido</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>70</string>
  		<key>codigoSite</key>
  		<string>67</string>
  		<key>nome</key>
  		<string>Locadora de veículos</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>71</string>
  		<key>codigoSite</key>
  		<string>69</string>
  		<key>nome</key>
  		<string>Loja - Artigos de casa e jardim</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>72</string>
  		<key>codigoSite</key>
  		<string>71</string>
  		<key>nome</key>
  		<string>Loja - Decoração</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>73</string>
  		<key>codigoSite</key>
  		<string>72</string>
  		<key>nome</key>
  		<string>Loja - Departamentos</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>74</string>
  		<key>codigoSite</key>
  		<string>75</string>
  		<key>nome</key>
  		<string>Loja - Especializada</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>75</string>
  		<key>codigoSite</key>
  		<string>73</string>
  		<key>nome</key>
  		<string>Loja - Informática</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>76</string>
  		<key>codigoSite</key>
  		<string>68</string>
  		<key>nome</key>
  		<string>Loja - Outros tipos</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>77</string>
  		<key>codigoSite</key>
  		<string>74</string>
  		<key>nome</key>
  		<string>Loja - Roupas e acessórios</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>78</string>
  		<key>codigoSite</key>
  		<string>138</string>
  		<key>nome</key>
  		<string>Lombada Rodoviária (Alerta 200m)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>79</string>
  		<key>codigoSite</key>
  		<string>136</string>
  		<key>nome</key>
  		<string>Lombada Urbana (Alerta 50m)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>80</string>
  		<key>codigoSite</key>
  		<string>76</string>
  		<key>nome</key>
  		<string>Marina</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>81</string>
  		<key>codigoSite</key>
  		<string>77</string>
  		<key>nome</key>
  		<string>Mercearia</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>82</string>
  		<key>codigoSite</key>
  		<string>78</string>
  		<key>nome</key>
  		<string>Mina</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>83</string>
  		<key>codigoSite</key>
  		<string>80</string>
  		<key>nome</key>
  		<string>Museu</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>84</string>
  		<key>codigoSite</key>
  		<string>81</string>
  		<key>nome</key>
  		<string>Naufrágio</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>85</string>
  		<key>codigoSite</key>
  		<string>82</string>
  		<key>nome</key>
  		<string>Obstrução na superfície</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>86</string>
  		<key>codigoSite</key>
  		<string>83</string>
  		<key>nome</key>
  		<string>Obstrução submersa</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>87</string>
  		<key>codigoSite</key>
  		<string>84</string>
  		<key>nome</key>
  		<string>Obstrução visível</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>88</string>
  		<key>codigoSite</key>
  		<string>85</string>
  		<key>nome</key>
  		<string>Oficina, Borracharia, Troca de óleo, Serviço em veículo</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>89</string>
  		<key>codigoSite</key>
  		<string>126</string>
  		<key>nome</key>
  		<string>Órgão público do executivo, Prefeitura, Palácio federal e estadual, etc</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>90</string>
  		<key>codigoSite</key>
  		<string>127</string>
  		<key>nome</key>
  		<string>Órgão público do judiciário, Fórum, Tribunal, Comarca judicial, etc</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>91</string>
  		<key>codigoSite</key>
  		<string>98</string>
  		<key>nome</key>
  		<string>Órgão público do legislativo e outros, Assembléia, Câmara, Senado, Congresso, Embaixada, etc</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>92</string>
  		<key>codigoSite</key>
  		<string>86</string>
  		<key>nome</key>
  		<string>Padaria</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>93</string>
  		<key>codigoSite</key>
  		<string>87</string>
  		<key>nome</key>
  		<string>Parque de diversão</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>94</string>
  		<key>codigoSite</key>
  		<string>88</string>
  		<key>nome</key>
  		<string>Parque, Jardim, Praça</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>95</string>
  		<key>codigoSite</key>
  		<string>89</string>
  		<key>nome</key>
  		<string>Pedágio</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>96</string>
  		<key>codigoSite</key>
  		<string>90</string>
  		<key>nome</key>
  		<string>Pedra na superfície</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>97</string>
  		<key>codigoSite</key>
  		<string>91</string>
  		<key>nome</key>
  		<string>Pedra submersa</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>98</string>
  		<key>codigoSite</key>
  		<string>79</string>
  		<key>nome</key>
  		<string>Pico, Montanha, Morro</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>99</string>
  		<key>codigoSite</key>
  		<string>133</string>
  		<key>nome</key>
  		<string>Placa de km em rodovia, Marco</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>100</string>
  		<key>codigoSite</key>
  		<string>49</string>
  		<key>nome</key>
  		<string>Polícia Civil, Militar, Federal, Presidio, etc</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>101</string>
  		<key>codigoSite</key>
  		<string>93</string>
  		<key>nome</key>
  		<string>Polícia rodoviária</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>102</string>
  		<key>codigoSite</key>
  		<string>94</string>
  		<key>nome</key>
  		<string>Ponte, Viaduto</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>103</string>
  		<key>codigoSite</key>
  		<string>13</string>
  		<key>nome</key>
  		<string>Portaria, Portão, Porteira, Tronqueira, Colchete</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>104</string>
  		<key>codigoSite</key>
  		<string>135</string>
  		<key>nome</key>
  		<string>Porto</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>105</string>
  		<key>codigoSite</key>
  		<string>96</string>
  		<key>nome</key>
  		<string>Posto de Gasolina</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>106</string>
  		<key>codigoSite</key>
  		<string>70</string>
  		<key>nome</key>
  		<string>Posto de Gasolina com Loja de Conveniência</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>107</string>
  		<key>codigoSite</key>
  		<string>97</string>
  		<key>nome</key>
  		<string>Praia</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>108</string>
  		<key>codigoSite</key>
  		<string>50</string>
  		<key>nome</key>
  		<string>Prédio, Indústria, Contruções e Imóveis em geral</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>109</string>
  		<key>codigoSite</key>
  		<string>99</string>
  		<key>nome</key>
  		<string>Radar, Semáforos com registro de avanço e/ou velocidade, dispositivos de registro eletrônico de infrações</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>110</string>
  		<key>codigoSite</key>
  		<string>101</string>
  		<key>nome</key>
  		<string>Represa, Usina Hidrelétrica</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>111</string>
  		<key>codigoSite</key>
  		<string>28</string>
  		<key>nome</key>
  		<string>Reservatório, Dique, Açude</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>112</string>
  		<key>codigoSite</key>
  		<string>102</string>
  		<key>nome</key>
  		<string>Restaurante - Alemão</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>113</string>
  		<key>codigoSite</key>
  		<string>103</string>
  		<key>nome</key>
  		<string>Restaurante - Americano</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>114</string>
  		<key>codigoSite</key>
  		<string>104</string>
  		<key>nome</key>
  		<string>Restaurante - Asiático (Japonês, Tailandês, Indiano, etc.)</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>115</string>
  		<key>codigoSite</key>
  		<string>105</string>
  		<key>nome</key>
  		<string>Restaurante - Cafeteria</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>116</string>
  		<key>codigoSite</key>
  		<string>109</string>
  		<key>nome</key>
  		<string>Restaurante - Carnes</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>117</string>
  		<key>codigoSite</key>
  		<string>106</string>
  		<key>nome</key>
  		<string>Restaurante - Chinês</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>118</string>
  		<key>codigoSite</key>
  		<string>107</string>
  		<key>nome</key>
  		<string>Restaurante - Churrascaria</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>119</string>
  		<key>codigoSite</key>
  		<string>110</string>
  		<key>nome</key>
  		<string>Restaurante - Francês</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>120</string>
  		<key>codigoSite</key>
  		<string>111</string>
  		<key>nome</key>
  		<string>Restaurante - Frutos do Mar</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>121</string>
  		<key>codigoSite</key>
  		<string>108</string>
  		<key>nome</key>
  		<string>Restaurante - Internacional</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>122</string>
  		<key>codigoSite</key>
  		<string>112</string>
  		<key>nome</key>
  		<string>Restaurante - Italiano</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>123</string>
  		<key>codigoSite</key>
  		<string>113</string>
  		<key>nome</key>
  		<string>Restaurante - Mexicano</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>124</string>
  		<key>codigoSite</key>
  		<string>114</string>
  		<key>nome</key>
  		<string>Restaurante - Outros Tipos, Buffet (Salão de Festas)</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>125</string>
  		<key>codigoSite</key>
  		<string>92</string>
  		<key>nome</key>
  		<string>Restaurante - Pizzaria</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>126</string>
  		<key>codigoSite</key>
  		<string>115</string>
  		<key>nome</key>
  		<string>Revenda de Veículos, Lojas de Peças e Acessórios</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>127</string>
  		<key>codigoSite</key>
  		<string>116</string>
  		<key>nome</key>
  		<string>Rocha, pedra, paredão, gruta</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>128</string>
  		<key>codigoSite</key>
  		<string>122</string>
  		<key>nome</key>
  		<string>Rodoviária, Ferroviária, Metrô, Ponto de Táxi, Ponto de Ônibus</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>129</string>
  		<key>codigoSite</key>
  		<string>117</string>
  		<key>nome</key>
  		<string>Saída de Rodovia</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>130</string>
  		<key>codigoSite</key>
  		<string>118</string>
  		<key>nome</key>
  		<string>Shopping Center</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>131</string>
  		<key>codigoSite</key>
  		<string>119</string>
  		<key>nome</key>
  		<string>Supermercado</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>132</string>
  		<key>codigoSite</key>
  		<string>120</string>
  		<key>nome</key>
  		<string>Teatro</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>133</string>
  		<key>codigoSite</key>
  		<string>121</string>
  		<key>nome</key>
  		<string>Telefone público, Posto Telefônico</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>134</string>
  		<key>codigoSite</key>
  		<string>123</string>
  		<key>nome</key>
  		<string>Torre de Telecomunicações, Transmissão de Energia, Antenas, etc</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>135</string>
  		<key>codigoSite</key>
  		<string>124</string>
  		<key>nome</key>
  		<string>Túnel</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>136</string>
  		<key>codigoSite</key>
  		<string>139</string>
  		<key>nome</key>
  		<string>Viaduto Assinalado (Não será compilado no mapa)</string>
  		<key>endereco</key>
  		<false/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>137</string>
  		<key>codigoSite</key>
  		<string>132</string>
  		<key>nome</key>
  		<string>Wireless, Hot Spot</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
  <dict>
  		<key>codigo</key>
  		<string>138</string>
  		<key>codigoSite</key>
  		<string>125</string>
  		<key>nome</key>
  		<string>Zoológico, Aquário</string>
  		<key>endereco</key>
  		<true/>
  	</dict>
</array>
</plist>
